<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} {% load custom_filters %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<table>
    <tr>
        <td>
            Title
        </td>
        <td>
            Date
        </td>
        <td>
            Text
        </td>
    </tr>

    <tr>
        <td>
            {{ new.name|Censor:'*'}}
            <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в python. Здесь так же можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
        </td>
        <td>
            {{ time_now|date:'M d Y' }}
        </td>
        <td>
            {{ new.text|Censor:'*' }}
        </td>
    </tr>
</table>
<!-- {{ new }}  -->
{% endblock content %}